@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap");
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

header {
  background-color: rgb(24, 26, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  i {
    height: auto;
    width: 50px;
    color: white;
  }
  .fa {
    display: none;
  }
  .logo-nike {
    width: 10rem;
    height: auto;
    position: relative;
    float: left;
  }
  nav {
    ul {
      margin-bottom: 0%;
      li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 25px;
        a {
          text-decoration: none;
          color: white;
          font-size: 17px;
          font-weight: 600;
          &::after {
            content: "";
            width: 0%;
            height: 2px;
            background: white;
            display: block;
            margin: auto;
            transition: 0.5s;
          }
          &:hover {
            color: white;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
  .nav-y-iconos {
    display: flex;
    justify-content: space-between;
    .navBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .iconosNav {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
}

article {
  text-align: center;
  padding-left: 20px;
}

/*BODY*/

body {
  background-color: $colorBackground;
  .blazzer {
    width: 100%;
  }
  .imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #171717;
    color: white;
    width: 100%;
  }
}

.contenedor {
  display: flex;
  flex-flow: row wrap;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-referencia {
    font-size: 15px;
    padding: 20px 15px;
    font-weight: 300;
    margin-bottom: 0;
  }
}

/*GRILLA INDEX*/

.gridArticulos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #171717;
    transition: 0.5s;
    &:hover {
      box-shadow: $sombreadoDeFondo; /*ANIMACION SOMBREADO DE FONDO*/
    }
    img {
      width: 250px;
      height: auto;
      align-self: center;
      padding: 20px;
    }

    p {
      text-align: center;
      color: white;
      padding: 20px;
    }
  }
  .iluminacion {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}

/*GRILLA INDUMENTARIA*/

.gridIndumentaria {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #171717;
    transition: 0.5s;
    &:hover {
      box-shadow: $sombreadoDeFondo; /*ANIMACION SOMBREADO DE FONDO*/
    }
  }
  @extend .box;
  .iluminacion {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}

/*VIDEO INDUMENTARIA-CAMISETA*/

.titulo-barcelona {
  font-weight: 600;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0%;
}

.textovideito {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.videito {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  height: 900px;
  iframe {
    width: 94.7%;
    height: 900px;
  }
}

/*GRID NOVEDADES*/

.gridNovedades {
  @include grids;
  div {
    @include flex-para-grids;
    &:hover {
      box-shadow: $sombreadoDeFondo;
    }
    .iluminacion {
      box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
  }
  @extend .box;
  img {
    width: auto;
    height: 300px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  h4 {
    color: white;
    text-align: center;
    padding: 5px;
  }
  h5 {
    color: white;
    text-align: center;
  }

  h5 {
    color: white;
    text-align: center;
  }

  p {
    text-align: center;
    color: map-get($mapaColores, descuento);
    margin: 7px;
    padding: 0px;
  }
}

/* GRID ACCESORIOS */

.gridAccesorios {
  @include grids;
  div {
    @include flex-para-grids;
    &:hover {
      box-shadow: $sombreadoDeFondo;
    }
  }
  @extend .box;
  .iluminacion {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}

.bodyContacto {
  min-height: 75vh;
}

/*FOOTER*/

footer {
  padding-left: 10px;
  padding-right: 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.pipa-negra {
  width: 75px;
  height: auto;
}

/* RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 576px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navegador {
      position: absolute;
      background: #000;
      height: 102vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
      a {
        display: flex;
      }
      ul {
        li {
          display: block;
        }
      }
    }

    .navBar {
      form {
        button {
          display: none;
        }
      }
    }

    .nav-y-iconos {
      .iconosNav {
        padding-left: 15px;
      }
    }

    .logo-nike {
      width: 5rem;
      height: auto;
    }

    .fa {
      display: block;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }

  .gridArticulos {
    display: flex;
    flex-direction: column;
  }

  section {
    .contenedor {
      display: flex;
      flex-direction: column;
      div {
        justify-content: start;
        i {
          padding-left: 10px;
        }
      }
    }
  }

  .p-referencia {
    font-size: 12px;
  }

  .gridIndumentaria {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .titulo-barcelona {
    font-size: 18px;
  }

  .gridNovedades {
    display: flex;
    flex-direction: column;
  }

  .gridAccesorios {
    display: flex;
    flex-direction: column;
  }

  .postal {
    font-size: 15px;
  }
}
