@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap");
.box img, .gridIndumentaria img, .gridNovedades img, .gridAccesorios img {
  width: auto;
  height: 300px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 20px;
}

.box p, .gridIndumentaria p, .gridNovedades p, .gridAccesorios p {
  text-align: center;
  color: white;
  padding: 20px;
}

.color--fondo {
  color: #f3f3f3;
}

.color--descuento {
  color: #ce2727;
}

.color--articulosColor {
  color: #171717;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  background-color: #181a1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
}

header i {
  height: auto;
  width: 50px;
  color: white;
}

header .fa {
  display: none;
}

header .logo-nike {
  width: 10rem;
  height: auto;
  position: relative;
  float: left;
}

header nav ul {
  margin-bottom: 0%;
}

header nav ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

header nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav ul li a:hover {
  color: white;
}

header nav ul li a:hover::after {
  width: 100%;
}

header .nav-y-iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-y-iconos .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .iconosNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

article {
  text-align: center;
  padding-left: 20px;
}

/*BODY*/
body {
  background-color: #f3f3f3;
}

body .blazzer {
  width: 100%;
}

body .imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #171717;
  color: white;
  width: 100%;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.contenedor div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .p-referencia {
  font-size: 15px;
  padding: 20px 15px;
  font-weight: 300;
  margin-bottom: 0;
}

/*GRILLA INDEX*/
.gridArticulos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.gridArticulos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gridArticulos div:hover {
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
  /*ANIMACION SOMBREADO DE FONDO*/
}

.gridArticulos div img {
  width: 250px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.gridArticulos div p {
  text-align: center;
  color: white;
  padding: 20px;
}

.gridArticulos .iluminacion {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

/*GRILLA INDUMENTARIA*/
.gridIndumentaria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.gridIndumentaria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gridIndumentaria div:hover {
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
  /*ANIMACION SOMBREADO DE FONDO*/
}

.gridIndumentaria .iluminacion {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

/*VIDEO INDUMENTARIA-CAMISETA*/
.titulo-barcelona {
  font-weight: 600;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0%;
}

.textovideito {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.videito {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  height: 900px;
}

.videito iframe {
  width: 94.7%;
  height: 900px;
}

/*GRID NOVEDADES*/
.gridNovedades {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.gridNovedades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gridNovedades div:hover {
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
}

.gridNovedades div .iluminacion {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

.gridNovedades img {
  width: auto;
  height: 300px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.gridNovedades h4 {
  color: white;
  text-align: center;
  padding: 5px;
}

.gridNovedades h5 {
  color: white;
  text-align: center;
}

.gridNovedades h5 {
  color: white;
  text-align: center;
}

.gridNovedades p {
  text-align: center;
  color: #ce2727;
  margin: 7px;
  padding: 0px;
}

/* GRID ACCESORIOS */
.gridAccesorios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.gridAccesorios div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gridAccesorios div:hover {
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.9);
}

.gridAccesorios .iluminacion {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

.bodyContacto {
  min-height: 75vh;
}

/*FOOTER*/
footer {
  padding-left: 10px;
  padding-right: 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.pipa-negra {
  width: 75px;
  height: auto;
}

/* RESPONSIVE */
@media screen and (min-width: 320px) and (max-width: 576px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navegador {
    position: absolute;
    background: #000;
    height: 102vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header .navegador a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navegador ul li {
    display: block;
  }
  header .navBar form button {
    display: none;
  }
  header .nav-y-iconos .iconosNav {
    padding-left: 15px;
  }
  header .logo-nike {
    width: 5rem;
    height: auto;
  }
  header .fa {
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .gridArticulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .contenedor div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section .contenedor div i {
    padding-left: 10px;
  }
  .p-referencia {
    font-size: 12px;
  }
  .gridIndumentaria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .titulo-barcelona {
    font-size: 18px;
  }
  .gridNovedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gridAccesorios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .postal {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */